.about-me {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

.about-me .avatar-img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
}

.about-me .avatar {
    position: relative;
}

.about-me .avatar::before {
    content: '';
    transition: 0.3s;
    width: 25px;
    height: 25px;
    background: #57bd6a;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255,255,255, .9);
    bottom: 14px;
    right: 14px;
    z-index: 2;
}

.info-left,
.info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tag {
    background: #fcfcfc;
    border: 1px solid #eee;
    color: rgba(81, 87, 90, 1);
    padding: 0.5em;
    border-radius: 2em;
    font-size: 14px;
    animation: wave 4s ease-in-out 0s infinite normal none running;
}

.info-left .tag:nth-child(2) {
    margin: 0 1em 0 -1em;
}

.info-right .tag:nth-child(2) {
    margin: 0 -1em 0 1em;
}

.tag:nth-child(2) {
    animation-delay: 0.6s;
}

.tag:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes wave {
    0% {
        transform: translate(0, -4px);
    }

    50% {
        transform: translate(0, 4px);
    }

    100% {
        transform: translate(0, -4px);
    }
}

.about-me-2 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.trigger {
    width: max-content;
    padding: 0.2em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 2em;
    background: rgb(255,255,255);
    // border: none;
    color: rgba(81, 87, 90, 1);
    transition: 0.3s;
    overflow: hidden;
}

.trigger,
.trigger:focus {
    opacity: 0;
    z-index: -1;
}

.trigger:nth-child(1),
.trigger:focus+.trigger {
    opacity: 1;
    z-index: 0;
}

@media (max-width: 900px) {
    .info-left,
    .info-right {
        display: none;
    }
}